---
import Dish from "./Dish.astro";
interface Props extends TCard {}

const { title, sections } = Astro.props;
---

<div class="flex flex-col max-w-md mx-auto">
  <span class="text-4xl mb-8 self-center">{title}</span>
  <div class="flex flex-col gap-8">
    {
      sections.map((section) => (
        <div class="flex flex-col">
          <span class="text-2xl mb-4 font-bold">{section.title}</span>

          <div class="ml-4">
            {section.dishes && (
              <div
                class={`flex flex-col gap-1 ${section.categories && "mb-2"}`}>
                {section.dishes.map((dish) => (
                  <Dish {...dish} />
                ))}
              </div>
            )}

            {section.categories && (
              <div class="flex flex-col gap-2">
                {section.categories.map((category) => (
                  <div>
                    <span class="text-xl font-semibold">{category.title}</span>
                    <div class="flex flex-col gap-1 ml-4">
                      {category.dishes &&
                        category.dishes.map((dish) => <Dish {...dish} />)}
                    </div>
                  </div>
                ))}
              </div>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
